In [3]:
import requests
from IPython.core.display import HTML
def css_styling():
    styles = requests.get('https://raw.githubusercontent.com/saadtony/NumericalMethods/master/styles/custom.css')
    return HTML(styles.text)
css_styling()

In [19]:
import numpy as np
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'svg'

# Problem 3
The second derivative of a function $f(x)$ can be approximated numerically as :

$$ f''(x) = \frac{f(x+h)-2f(x)+f(x-h)}{h^2}$$

where _h_ is any value set by the user. For the function $f(x)=sin(2x)$:
1. Compute the true error in $f''(2)$ using $h=0.1$ and $h=0.01$
2. Compute the relative error in $f''(2)$ using $h=0.1$ and $h=0.01$

In [29]:
def func(x):
    return np.sin(2.*x)

def second_diff(f, x, h):
    return (f(x+h) - 2.*f(x) + f(x-h))/h**2

def second_diff_exact(x):
    return -4.*np.sin(2.*x)

In [33]:
# h = 0.1
num1 = second_diff(func, 2., 0.1)
# h = 0.01
num2 = second_diff(func, 2., 0.01)

In [34]:
# true errors
te1 = np.abs(num1-second_diff_exact(2))
te2 = np.abs(num2-second_diff_exact(2))
print(f'True errors:\n\n\th = 0.1: {te1:.3f}\n\n\th = 0.01: {te2:.4f}')

True errors:

	h = 0.1: 0.010

	h = 0.01: 0.0001

In [36]:
# relative errors
re1 = np.abs(num1-second_diff_exact(2))/second_diff_exact(2)
re2 = np.abs(num2-second_diff_exact(2))/second_diff_exact(2)
print(f'Relative errors:\n\n\th = 0.1: {re1:.3f}, {re1*100:.3f}%\n\n\th = 0.01: {re2:.5f}, {re2*100:.4f}%')

Relative errors:

	h = 0.1: 0.003, 0.333%

	h = 0.01: 0.00003, 0.0033%

In [39]:
def func(*args):
    return args

In [41]:
def func2(f, a, b, c):
    return f(a, b, c)

In [42]:
func2(func, 'a', 'b', 'c')

('a', 'b', 'c')

# Problem 4: Gas Station Problem

In [78]:
cols = {'Gas Station': ['A', 'B', 'C', 'D'], 'Reading at Pump': [10., 20., 30., 30.],
       'Actual Gas Dispensed': [9.9, 19.9, 29.9, 29.95]}

In [79]:
import pandas as pd
pd.set_option('precision', 4)

In [80]:
df = pd.DataFrame.from_dict(cols)

In [81]:
df

  Gas Station  Reading at Pump  Actual Gas Dispensed
0           A             10.0                  9.90
1           B             20.0                 19.90
2           C             30.0                 29.90
3           D             30.0                 29.95

In [82]:
df['Abs Error'] = np.abs(df['Reading at Pump'] - df['Actual Gas Dispensed'])

In [83]:
df

  Gas Station  Reading at Pump  Actual Gas Dispensed  Abs Error
0           A             10.0                  9.90       0.10
1           B             20.0                 19.90       0.10
2           C             30.0                 29.90       0.10
3           D             30.0                 29.95       0.05

In [84]:
df['Relative Error (%)'] = df['Abs Error']/df['Actual Gas Dispensed']*100
df

,Gas Station,Reading at Pump,Actual Gas Dispensed,Abs Error,Relative Error (%)
0,A,10.0,9.90,0.10,1.0101
1,B,20.0,19.90,0.10,0.5025
2,C,30.0,29.90,0.10,0.3344
3,D,30.0,29.95,0.05,0.1669

In [85]:
df.set_index('Gas Station', inplace=True)

In [90]:
df.loc['A']

Reading at Pump         10.0000
Actual Gas Dispensed     9.9000
Abs Error                0.1000
Relative Error (%)       1.0101
Name: A, dtype: float64